<div>
  <span matBadge="5">Notification</span>
</div>

<div>
  <span matBadge="5" matBadgePosition="below before">Notification</span>
</div>

<div>
  <span matBadge="5" matBadgePosition="below after">Notification</span>
</div>

<div>
  <span matBadge="5" matBadgePosition="above before">Notification</span>
</div>

<div>
  <span matBadge="5" matBadgeSize="small">Notification</span>
</div>

<div>
  <span matBadge="5" matBadgeSize="medium">Notification</span>
</div>

<div>
  <span matBadge="5" matBadgeSize="large">Notification</span>
</div>

<div>
  <span matBadge="5" matBadgeColor="primary">Notification</span>
</div>

<div>
  <span matBadge="5" matBadgeColor="accent">Notification</span>
</div>

<div>
  <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">Notification</span>
</div>