<div class="mat-display-4">Display</div>
<div class="mat-display-3">Display</div>
<div class="mat-display-2">Display</div>
<div class="mat-display-1">Display</div>

<div class="mat-headline">Headline</div>
<div class="mat-title">Title</div>
<div class="mat-subheading-2">Subheading2</div>
<div class="mat-subheading-1">Subheading1</div>

<div class="mat-body-1">Body1</div>
<div class="mat-body-2">Body2</div>
<div class="mat-caption">Caption</div>

<div class="mat-typography">
  <h1>This is a heading for h1</h1>
  <h2>This is a heading for h2</h2>
  <h3>This is a heading for h3</h3>
  <h4>This is a heading for h4</h4>
</div>
