<mat-menu #appMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item [matMenuTriggerFor]="subMenu">Front end</button>
  <button mat-menu-item>Back end</button>
</mat-menu>

<button class="center" mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>

<mat-menu #subMenu="matMenu">
  <button mat-menu-item>React</button>
  <button mat-menu-item>Angular</button>
  <button mat-menu-item>Vue</button>
</mat-menu>

<mat-menu #lazyMenu="matMenu">
  <ng-template matMenuContent let-name="name">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Log out {{name}}</button>
  </ng-template>
</mat-menu>

<button mat-stroked-button [matMenuTriggerData]="{name: '1'}" [matMenuTriggerFor]="lazyMenu">1</button>
<button mat-stroked-button [matMenuTriggerData]="{name: '2'}" [matMenuTriggerFor]="lazyMenu">2</button>