<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Title</mat-panel-title>
      <mat-panel-description>Description</mat-panel-description>
    </mat-expansion-panel-header>
    <p>Content</p>
    <mat-action-row mat-button>Enroll</mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Title</mat-panel-title>
      <mat-panel-description>Description</mat-panel-description>
    </mat-expansion-panel-header>
    <p>Content</p>
    <mat-action-row mat-button>Enroll</mat-action-row>
  </mat-expansion-panel>
</mat-accordion>