<div>
  <button mat-button>Click</button>
  <button mat-raised-button>Click</button>
  <button mat-flat-button>Click</button>
  <button mat-stroked-button>Click</button>
</div>

<div>
  <button mat-icon-button>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>MiniFab</button>
</div>

<div>
  <button color="primary" mat-button>Primary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" mat-button>Warn</button>

  <button color="warn" disableRipple mat-button>Disable Ripple</button>
</div>
